#chat {
    width: 60vw;
    height: 100%;
    position: relative;
    top: 0;
    left: 0;
    overflow-x: hidden;

    background-color: #99aab5;
    border-radius: 0px 29px 0px 0px;

}

#chat::-webkit-scrollbar{
    display: none;
}

#sendMessage{
    position: absolute;
    bottom: 0;
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;

}

#sendMessageBox{
    width: 80%;
    height: 60%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #AEB6BF;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    border-radius: 10px 10px 10px 10px;
}

#sendMessageForm{
    width: 80%;
}

#sendMessageForm form{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

#sendMessageForm input:focus {
    outline: none;

}

#sendMessageForm input[type = text]{
    width: 80%;
    border: none;
}

#sendMessage input[type=submit]{
    border-radius: 10px 10px 10px 10px;
    background-color: white;
    border-color: transparent;
    padding-left: 2%;
    padding-right: 2%;
}

#sendMessage input[type=submit]:hover{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

#sendMessageForm input[disabled = disabled]{

    width: 80%;
    text-align: center;
}

#sendMessageForm input{
    background-color: rgba(117, 190, 218, 0.0);
}



#showMessage {
    overflow: scroll;
    overflow-x: hidden;
    overflow-y: auto;
    height: 90%;

}

.pseudo{
    font-style: italic;
    color: white;
    display: block;
}

.text{
    max-width: 60%;
    padding: 2%;
    display: inline-block;
    background-color: lightgreen;
    color: white !important;
    margin: 2%;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    border-radius: 0px 15px 15px 15px;
}

.date{
    position: relative;
    top: 0;
    display: inline-block;
    color: #03045E;
}

.sent .data{
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
}

.sent .pseudo{
    display: block;
    width: 100%;
    text-align: right;
}

.sent .text{
    display: inline-block;
    position: relative;

    margin-top: 1%;
    margin-right: 6%;
    background-color: dimgrey;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    border-radius: 15px 0px 15px 15px;
}

.sent .date{
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
}

#sendTo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
    text-align: center;
    font-size: 2rem;
    height: 5vh;
    background-color:#023E8A;
    color: darkorange;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
