#menu {
    width: 100vw;
    height: 5vh;
    font-size: 1.7rem;
    background-color: #616A6B;
    color: #F2F4F4;

}

#menu ul {
    width: 100%;
    height: 100%;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid black;
    position: relative;
    z-index: 2;
    background-color: #616A6B;
}

#menu a{
    color: #F2F4F4;
    text-decoration: none;
}



