.singleMessageDiv{
    font-size: 2rem;
    padding: 2%;

}

.privateChat .singleMessageDiv{
    position: relative;
    top: 5vh;

}

.singleMessageDiv .data .date{
    font-size: 1rem;
}

.singleMessageDiv .text{
    margin-left: 5%;
    margin-top: 1%;
    color: #808B96;

}

#sendTo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
    text-align: center;
    font-size: 2rem;
    height: 5vh;
    background-color:#AEB6BF;
    color: darkorange;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

#closeButton{
    position: absolute;
    top: 0;
    right: 2%;
    font-size: 3rem;
    z-index: 2;
}