.singleMessageDiv{
    font-size: 2rem;
    padding: 2%;

}

.singleMessageDiv{
    position: relative;
    top: 5vh;

}

.singleMessageDiv .data .date{
    font-size: 1rem;
}

.singleMessageDiv .text{
    margin-left: 5%;
    margin-top: 1%;
    color: #808B96;

}



#closeButton{
    position: absolute;
    top: 0;
    right: 2%;
    font-size: 3rem;
    z-index: 2;
}