#projet {
    width: 20vw;
    height: 100%;
    border-right: 1px solid black;
    position: relative;
    left: 0;
    margin: 0;
    border-bottom: 1px solid black;
    overflow: scroll;
    overflow-x: hidden;
    background-color: #616A6B;
}

#projet::-webkit-scrollbar{
    display: none;
}

#projet ul {
    list-style: none;
}

#projet li {
    margin-left: 5%;
}

#projet a {
    text-decoration: none;
    font-size: 1.5rem;
    color: #ff7e5f;
}

.projetCont{
    border-bottom: 1px solid black;
    margin-bottom: 2%;
    margin-left: 2%;
}

#addProject{
    font-size: 1.8rem;
    width: 100%;
    text-align: center;
}

#addProject i:hover{
    color: cadetblue;
    text-shadow: 2px 2px 2px blanchedalmond;
    cursor: pointer;
}