#projet {
    width: 10vw;
    height: 100%;
    position: relative;
    left: 0;
    margin: 0;
    overflow: scroll;
    overflow-x: hidden;
    background-color: #23272a;
}

#projet::-webkit-scrollbar{
    display: none;
}

#projet ul {
    list-style: none;
}

#projet li {
    margin-left: 5%;
}

#projet a {
    text-decoration: none;
    font-size: 1.5rem;
    color: #03045E;
}

.projetCont{
    border-bottom: 1px solid black;
    margin-bottom: 2%;
    margin-left: 2%;
}

#addProject{
    font-size: 1.8rem;
    width: 100%;
    text-align: center;
}

i:hover{
    color: cadetblue;
    text-shadow: 2px 2px 2px blanchedalmond;
    cursor: pointer;
}

#divNewProjectForm{
    width: 100%;
    display: flex;
    justify-content: space-around;
}

#divNewProjectForm i{
    font-size: 1.8rem;
}

#divNewProjectForm i:hover{
    color: cadetblue;
    text-shadow: 2px 2px 2px blanchedalmond;
    cursor: pointer;
}

#divNewProjectForm input {
    padding: 2px;
    font-size: 1.3rem;
    border-width: 1px;
    border-color: #CCCCCC;
    background-color: #FFFFFF;
    color: #000000;
    border-style: solid;
    border-radius: 0px;
    box-shadow: 0px 0px 3px rgba(66,66,66,.75);
    text-shadow: -50px 0px 0px rgba(66,66,66,.0);
}

#divNewProjectForm input:focus {
    outline:none;
}

i[data-stat = "0"]:hover{
    color: cadetblue;
    text-shadow: 2px 2px 2px blanchedalmond;
    cursor: pointer;
}